<app-navbar></app-navbar>
<mat-card class="all-card">
  <mat-card-title style="text-align: center; font-size: 40px">Items in Order #1</mat-card-title>
  <div style="height: 30px"></div>
  <hr>
  <mat-card-content style="font-size: 22px">
    <div style=" margin-left: 20px">
      <div style="text-align: center">
        <mat-label style="font-size: 30px">Cat Toy</mat-label><br>
      </div>
      <br><mat-label>Quantity: 1</mat-label><br>
      <br><mat-label>Price per unit: 5.99$</mat-label><br>
      <br><mat-label>Total: 5.99$</mat-label><br>
      <hr>

      <div style="text-align: center">
        <mat-label style="font-size: 30px">Plastic Alligator</mat-label><br>
      </div>
      <br><mat-label>Quantity: 3</mat-label><br>
      <br><mat-label>Price per unit: 4.00$</mat-label><br>
      <br><mat-label>Total: 12.00$</mat-label><br>
      <hr>

      <div style="text-align: center">
        <mat-label style="font-size: 30px">Pink Ball</mat-label><br>
      </div>
      <br><mat-label>Quantity: 30</mat-label><br>
      <br><mat-label>Price per unit: 0.99$</mat-label><br>
      <br><mat-label>Total: 29.70$</mat-label><br>
      <hr>

    </div>

  </mat-card-content>

</mat-card>
